.header {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px 9px 0px;
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 220, 220);
    z-index: 100;}

.left-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:0px;}

.hamburger-menu {
    height: 22px;
    width: 24px;
    margin-left:24px;
    margin-right:20px;
    cursor: pointer;}


.youtube-logo {
    height: 20px;
    margin-right:10px;
    cursor: pointer;}

.middle-section {     
    display:flex;
    flex: 1 0 0;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;} 

.search-bar {
    flex: 1;
    height: 37px;
    width:0;
    padding-left:10px;
    font-size:16px;
    border: 1px solid;
    border-color: rgb(192, 192, 192);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 1px 2px 5px (0, 0, 0, 0.05);}


.search-button {
    display: flex;
    width: 72px;
    height: 41px;
    margin-left: -1.5px;
    padding: 8px 20.5px 8px 19.5px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(192, 192, 192);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    position: relative;}

.search-button, 
.voice-button, 
.upload-button,
.Apps-button,
.notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;}


.search-button .tooltip, 
.voice-button .tooltip , 
.upload-button .tooltip, 
.Apps-button .tooltip,
.notification-container .tooltip {
    position: absolute;
    background-color: grey;
    font-size: 11px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -40px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;}  

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-button:hover .tooltip,
.Apps-button:hover .tooltip,
.notification-container:hover .tooltip{
    opacity:1;}

.search-button:hover {background-color: rgb(231, 230, 230);}

.search-image {
    height:26px;
    border:none;}

.voice-button {
    height:40px;
    width:40px;
    background-color: #f8f8f8;
    border-radius: 20px;
    border: none;
    margin-left: 8px;
    position: relative;
    cursor: pointer;}

.voice-image {
    height: 25px;
    object-fit: cover;}

.right-section {
    width:200px;
    margin-right:20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-shrink: 0;
    gap:26px;}

.upload-icon {
    width:24px;
    height: 24px;
    cursor: pointer;}

.youtube-apps {
    width: 24px;
    height: 24px;
    cursor: pointer;}


.youtube-apps {
    display:flex;
    height: 24px;
    justify-content: center;
    align-items: flex-start;}

.notification-container {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;}

.noftifications-icon {
    width: 23px;
    height: 25px;}

.notification-count {
    display: flex;
    padding: 2px 5px 2px 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -4px;
    top: -2px;
    border-radius: 80px;
    font-size: 11px;
    font-family: roboto, arial;
    color: white;
    background: #C00;}

.current-user-picture {
    height: 32px;
    border-radius:16px;
    cursor: pointer;}
 


